body{
    height: 100 %;
    min-height: 100 %;
    background: linear-gradient (90 deg, #963baf, #b43c3c 100 %);
    display: flex;
    justify-content: center;
    align-items: center;
}

.tela{
    background-color: #fafafa;
    border-radius: 10 px;
    box-shadow: 0 2 px 5 px rgb (224, 248, 6);
    width: 400 px;
    max-width: 100 %;
    overflow: hidden;
    padding: 20 px;
}
